@model MenuEduca01.Models.InsercaoMedica

@{
    ViewData["Title"] = "Delete";
}

<h1 class="centro">Deletar</h1>

<h3>Você tem certeza que deseja deletar isso?</h3>
<div>
    <h4>InsercaoMedica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuariosId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuariosId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.receitaMedica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.receitaMedica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notificacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
